---
import FormattedDate from "@atoms/utilsComponents/FormattedDate.astro";
import CardBlog from "@atoms/CardBlog/CardBlog.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const {postLength=`${posts.length}`} = Astro.props

---

<section id="blog" class="blog-section">
  <h1>Mis artículos</h1>
    <ul class="blog__cards-container">
      {
        posts.slice(0,parseInt(postLength) ).map((post) => (
          <li class="blog__card-item">
            <CardBlog
              title={post.data.title}
              content={post.data.description}
              img={post.data.image}
              href={`/blog/${post.slug}/`}
            >
              <FormattedDate slot="date" date={post.data.date} />
            </CardBlog>
          </li>
        ))
      }
    </ul>

  <div class="blog-footer"></div>
</section>

<style>
  #blog {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-size: 2rem;
      margin-bottom:5rem;
    }
  }

  .blog__cards-container {
     display: grid;
    place-content: start;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 25%));
    grid-template-rows: minmax(27rem,1fr);
    gap: 3rem;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
   
  }

  @media (min-width: 768px) {
    .blog-cards-container {
      flex-direction: row;
    }
  }

  .blog-footer {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
    max-width: 100%;
    padding: 0 0.75rem;
  }
</style>
