---
import { MenuItems } from "@src/data/menuElements.js";
---

<script is:inline>
  const d = document;
  function HamburgerButton(hamburgerBtn, panel, menuLink) {
    d.addEventListener("click", (e) => {
      if (
        e.target.matches(hamburgerBtn) ||
        e.target.matches(`${hamburgerBtn} *`)
      ) {
        d.querySelector(hamburgerBtn).classList.toggle("is-active");
        d.querySelector(panel).classList.toggle("is-active");
      }
      if (e.target.matches(menuLink)) {
        d.querySelector(hamburgerBtn).classList.remove("is-active");
        d.querySelector(panel).classList.remove("is-active");
      }
    });
  }

  d.addEventListener("DOMContentLoaded", (e) => {
    HamburgerButton(".hamburger", ".menu", ".menu__link");
  });
</script>
<div class="header__container">
  <header class="header">
    <button class="hamburger hamburger--emphatic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul class="menu">
      {
        MenuItems.map((item) => (
          <li class="menu__item">
            <a class="menu__link" href={item.link}>
              {item.text}
            </a>
            {item.submenu && (
              <ul class="submenu">
                {Array.isArray(item.submenu) ? (
                  item.submenu.map((sub) => (
                    <li class="submenu__item submenu__item--seccondary">
                      <a href={sub.link}>{sub.text}</a>
                      {sub.submenu && (
                        <ul class="subsubmenu">
                          {Array.isArray(sub.submenu) ? (
                            sub.submenu.map((subsub) => (
                              <li class=" submenu__item--tertiary">
                                <a href={subsub.link}>{subsub.text}</a>
                              </li>
                            ))
                          ) : (
                            <li>
                              <a href={sub?.submenu?.link}>
                                {sub.submenu.text}
                              </a>
                            </li>
                          )}
                        </ul>
                      )}
                    </li>
                  ))
                ) : (
                  <li class="submenu__item submenu__item--seccondary">
                    <a href={item.submenu.link}>{item.submenu.text}</a>
                  </li>
                )}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </header>
</div>
<style is:global>
  .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    margin-top: 2rem;
    padding: 16px;
    z-index: 10;
    @media (width < 768px) {
      padding: 0.4rem;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  .header {
    display: flex;
    width: 100%;
    max-width: 1100px;
    background-color: #0d0d0dcc;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 18px;

    @media (width < 768px) {
      max-width: 100%;
      align-self: flex-end;
    }
  }
  .hamburger {
    display: none;
    @media (width < 768px) {
      display: block;
      z-index: 11;
    }
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background-color: var(--color-tertiary);
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after,
  .hamburger.is-active .hamburger-inner:before {
    background-color: var(--color-tertiary);
  }
  .menu {
    padding: 1rem;
    list-style: none;
    margin: 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    @media (width < 768px) {
      flex-direction: column;
      width: 100vw;
      background: black;
      height: 100dvh;
      position: fixed;
      top: 0;
      margin-top: -19px;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: all 0.3s linear;
    }
  }
  .menu.is-active {
    transform: translateX(0);
  }

  .menu__link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    color: var(--color-tertiary);
    position: relative;
  }
  .menu__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 2px;
    transition: 0.35s transform;
    background: var(--color-tertiary);
  }

  .menu__link:hover::after {
    transform: scale(1);
  }

  .menu__item:hover > .submenu {
    display: block;
    animation: slideDown 0.3s ease forwards;
  }

  .submenu,
  .subsubmenu {
    display: none;
    position: absolute;
    background-color: #171717;
    border: 0.5px solid #3e1c71;
    list-style: none;
    z-index: 1000;
    border-radius: 9px;
    padding: 1rem 0;
    z-index: 9000;
  }
  .menu__item {
    position: relative;
    margin-right: 1rem;
    padding: 6px;
  }
  .submenu a,
  .subsubmenu a {
    display: block;
    text-decoration: none;
    color: var(--color-tertiary);
  }
  .submenu__item--seccondary,
  .submenu__item--tertiary {
    position: relative;
    a {
      padding: 2rem;
    }
    & a:hover {
      background: rgb(71, 70, 70);
      color: white;
    }
  }
  .submenu {
    top: 100%;
    left: 0;
  }
  .subsubmenu {
    top: 0;
    left: 100%;
  }
  .submenu li {
    width: 150px;
  }

  .subsubmenu {
    position: absolute;
    min-height: 6dvh;
  }

  .menu__item:hover > .submenu li:hover > .subsubmenu {
    display: block;
    animation: slideRight 0.3s ease forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
