---
import HamburgerButton from "@src/components/atoms/HamburgerButton/HamburgerButton.astro";
import { MenuItems } from "@src/data/menuElements.js";
const img = "/img/logo.webp"
---

<script >
  import { HamburgerButton } from "@src/utils/hamburger";
</script>


<div class="header__container">
  <header class="header">
    <a href="/"><img class="header__logo" src={img} alt="Logo image"></a>
    <ul class="menu">
      {
        MenuItems.map((item) => (
          <li class="menu__item">
            <a class="menu__link" href={item.link}>
              {item.text}
              {item.submenu && <iconify-icon class="iconify-arrow" icon="codicon:triangle-down" width="15" height="15"></iconify-icon>}
            </a>
            {item.submenu && (
              <ul class="submenu">
                {Array.isArray(item.submenu) ? (
                  item.submenu.map((sub) => (
                    <li class="submenu__item submenu__item--seccondary">
                      <a href={sub.link}>{sub.text}
                        {sub.submenu && sub.submenu?.length > 0 && <iconify-icon class="iconify-arrow" icon="codicon:triangle-down" width="15" height="15"></iconify-icon>}
                      </a>
                      {sub.submenu && (
                        <ul class="subsubmenu">
                          {Array.isArray(sub.submenu) ? (
                            sub.submenu.map((subsub) => (
                              <li class="submenu__item--tertiary">
                                <a href={subsub.link}>{subsub.text}</a>
                              </li>
                            ))
                          ) : (

                            <li>
                              <a href={sub?.submenu?.link}>
                                {sub.submenu?.text }

                              </a>
                            </li>
                          )}
                        </ul>
                      )}
                    </li>
                  ))
                ) : (
                    ""
                )}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
    <HamburgerButton />
  </header>

</div>
<style is:global>

  .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    padding: 16px;
    z-index: 10;
    @media (width < 768px) {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    background-color: #0d0d0dcc;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 18px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    @media (width < 768px) {
      max-width: 95%;
      align-self: flex-end;
      padding: 0.4rem;
      margin: 0 auto;
    }
  }
  .header__logo{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .menu {
    padding: 1rem;
    list-style: none;
    margin: 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    @media (width < 768px) {
      flex-direction: column;
      width: 110vw;
      background: black;
      height:109dvh;
      position: fixed;
      top: -15px;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: all 0.3s linear;
    }
  }
  .menu.is-active {
    transform: translateX(-10%);
  }

  .menu__link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--color-tertiary);
    position: relative;
  }
  .menu__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 2px;
    transition: transform 0.3s ease ;
    background: var(--color-tertiary);
  }

  .menu__link:hover::after {
    transform: scale(1);
  }

  .menu__item:hover > .submenu {
    display: block;
    animation: slideDown 0.3s ease forwards;
  }

  .iconify-arrow {
    transition: transform 0.3s linear;
  }
  .menu__link:hover > .iconify-arrow {
    transform: rotate(180deg);
  }



  .submenu,
  .subsubmenu {
    display: none;
    position: absolute;
    background-color: #171717;
    border: 0.5px solid #3e1c71;
    list-style: none;
    z-index: 1000;
    border-radius: 9px;
    padding: 1rem 0;
    z-index: 9000;
  }
  .menu__item {
    position: relative;
    margin-right: 1rem;
    padding: 6px;
  }
  .submenu a,
  .subsubmenu a {
    display: block;
    text-decoration: none;
    color: var(--color-tertiary);
  }
  .submenu__item--seccondary,
  .submenu__item--tertiary {
    position: relative;
    a {
      padding: 2rem;
    }
    & a:hover {
      background: rgb(71, 70, 70);
      color: white;
    }
  }
  .submenu {
    top: 100%;
    left: -17px;

  }
  .subsubmenu {
    top: 0;
    left: 100%;
    @media screen and (width: 1280px) and (height: 720px) {
    left: -154px;
    }
  }
  .submenu li {
    width: 150px;
  }

  .subsubmenu {
    position: absolute;
    min-height: 6dvh;
  }

  .menu__item:hover > .submenu li:hover > .subsubmenu {
    display: block;
    animation: slideRight 0.3s ease forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
